DATABASE_URL="postgresql://postgres:wVVhjyKWGXMixLxqQEvPfAFKJyerBLlt@junction.proxy.rlwy.net:48227/railway"
JWT_SECRET=7f9c2e8a4b1d6f3c9a8e2b7d5c1f4a9e6d3c8b2f1a7e5c9d4b6a2f8e1c3d7b9
JWT_REFRESH_SECRET=3c8a1f7d9b2e5a6c4f8d1b3e7a9c2d6f5b8e4c1a7d9f3b2e6a8c1d4f7b5e9a2
MINIO_ENDPOINT=bucket-llwj-production.up.railway.app
MINIO_PORT=443
MINIO_ACCESS_KEY=ldLjdOpouoOnowUl0NgA
MINIO_SECRET_KEY=17nJel3wJDN6XMJHIECyFQx16ShffbSvXBf7RcjH
MINIO_PUBLIC_URL=https://bucket-llwj-production.up.railway.app
 
